<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<ion-header>
  <ion-toolbar>
    <ion-title color = "light" class = bar>Machina Artem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class = "background-image">

    <div class = "ion-padding"  class = label>
        <div class="title" >
            Set Your Username
         </div>
    
         <ion-text color = "light" class = "subtitle">
          Machina Artem <br/>
          Your Personal Art Machine
         </ion-text>
    
      </div>


<div class="ion-padding" class = "content">

  <form class="form" [formGroup]="validations_form" (ngSubmit)="trySetUsername(validations_form.value)">
    

<div class="validation-errors">

  <div class = "textfield"> 
    <ion-item>
    <ion-label position="floating"> Username </ion-label>
    <ion-input formControlName = "username"  type = "text" required = "true"></ion-input>
      <div>
        <ng-container *ngFor="let validation of validation_messages.username">
          <div class="error-message" *ngIf="validations_form.get('username').hasError(validation.type) && (validations_form.get('username').dirty || validations_form.get('username').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-item>
  </div>

  
    
      <ion-button class="submit-btn" color="danger" shape="full" expand= "block" type= "submit" [disabled]="!validations_form.valid"> Confirm </ion-button>

    
      <label class="error-message">{{errorMessage}}</label>
      <label class="success-message">{{successMessage}}</label>
    
    </div>
  
  
</form>

</div>

</ion-content>
