<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<ion-header>
    <ion-toolbar>
  
      <ion-icon name="menu" slot = "start" size = large color = "light"></ion-icon>
  
      <ion-title color = "light" class = bar>
        Machina Artem
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content fullscreen class = "background-image">

  <div class = "ion-padding"  class = label>
    <div class="title" >
        Recover Your Password
     </div>

     <ion-text color = "light" class = "subtitle">
      Machina Artem <br/>
      Your Personal Art Machine
     </ion-text>

  </div>

  <div class="ion-padding" class = "content">
  <form class="form" [formGroup]="validations_form" (ngSubmit)="askForEmail(validations_form.value)">
      
      <ion-item>
        <ion-label position="floating">
        Your Registed Email</ion-label>
        <ion-input formControlName = "email" type = "text" required = "true">
      </ion-input>

      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-item>        
  <p>

  <ion-button class="submit-btn" color="danger" shape="full" expand= "block" type= "submit" [disabled]="!validations_form.valid"  >Confirm</ion-button></p>

  <label class="error-message">{{errorMessage}}</label>
  <label class="success-message">{{successMessage}}</label>

</form>

<p><ion-button color="danger" shape="full" expand= "block" href= "\main">Proceed Without Account</ion-button></p>

</div>

</ion-content>

