<ion-header>
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to Dashboard!
      </ion-col>
    </ion-row>
    

    <ion-button (click)="toProfile()">go to image upload</ion-button>

    <ion-button (click)="toAvatar()">go to avtar</ion-button>

    <ion-button (click)="toUserProfile()">go to profile page</ion-button>

  </ion-grid>  

 

</ion-content>

<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
