<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<ion-header>
    <ion-toolbar>
  
      <ion-icon name="menu" slot = "start" size = large ></ion-icon>
  
      <ion-title>
        Machina Artem
      </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>

<div>
<ion-fab vertical="center" horizontal="center" class = "avatar">
  <ion-fab-button >
    <ion-avatar (click) = "uploadImage($event)" class = ".uploadbtn">

      <img *ngIf="!url" alt = "" src="../../assets/images/default_avatar.png/">
      <img *ngIf="url" alt = "" [src]="url"/>  
           
      <label class = "invisible">
        <input (change)="findImage($event)" type="file" class="image-upload" accept="image/*">
      </label>
         
        
        <!-- <input (change)="uploadImage($event)" type="file" class="image-upload" accept="image/*"> -->
    </ion-avatar> 
  </ion-fab-button>  
</ion-fab>
</div>
  

    <ion-button class="submit-btn" color="danger" shape="full" expand= "block" type= "submit" (click)="GoMainPage()" >Confirm</ion-button>
    <ion-button class="submit-btn" color="danger" shape="full" expand= "block" type= "submit" (click)="makeAvatarDefault()" (click)="GoMainPage()">Not This Moments</ion-button>
  
    

</ion-content>
