<ion-header>
  <ion-toolbar>

    <ion-icon name="reorder" slot = "start" size = large></ion-icon>

    <ion-title>
      Machina Artem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
     Your Personal Art Machine
  </div>

 <form class="form" [formGroup]="validations_form"  (ngSubmit)="loginUser(validations_form.value)">
<ion-item>
  <ion-label position="floating">Username</ion-label>
  <ion-input formControlName="username"></ion-input>
</ion-item>

<div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.username">
    <div class="error-message" *ngIf="validations_form.get('username').hasError(validation.type) && (validations_form.get('username').dirty || validations_form.get('username').touched)">
      {{ validation.message }}
    </div>
  </ng-container>
</div>

<p><ion-item>
  <ion-label position="floating" >Password</ion-label>
  <ion-input></ion-input>
</ion-item></p>

<div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.password">
    <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
      {{ validation.message }}
    </div>
  </ng-container>
</div>

  <div><a href = "\sign-up"> Forget your password? </a></div>
  
  <ion-button color="danger" shape="full" expand= "block" href= "\main" class="submit-btn" type="submit"  [disabled]="!validations_form.valid">Log In</ion-button>

  <p><ion-button color="danger" shape="full" expand= "block" href= "\main">Proceed Without Account</ion-button></p>

  <a href = "\sign-up" > Don't have an account? </a>

</ion-content>

