<ion-header>
  <ion-toolbar>

    <ion-icon name="reorder" slot = "start" size = large></ion-icon>

    <ion-title>
      Machina Artem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
     Your Personal Art Machine
  </div>


<ion-item>
  <ion-label position="floating" >Username</ion-label>
  <ion-input></ion-input>
</ion-item>

<p><ion-item>
  <ion-label position="floating" >Password</ion-label>
  <ion-input></ion-input>
</ion-item></p>

  <div><a href = "\sign-up"> Forget your password? </a></div>
  
  <ion-button color="danger" shape="full" expand= "block" href= "\main">Log In</ion-button>

  <p><ion-button color="danger" shape="full" expand= "block" href= "\main">Proceed Without Account</ion-button></p>

  <a href = "\sign-up" > Don't have an account? </a>

</ion-content>

