.background-image{

    --background: #123 url(../../assets/images/background_dark.jpg) no-repeat center center / cover;

}

.transparent{
    
    --background: transparent;


}

.info{

    color: white;

}