<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<ion-header>
    <ion-toolbar>
  
      <ion-icon name="menu" slot = "start" size = large ></ion-icon>
  
      <ion-title>
        Machina Artem
      </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>Item Avatar</ion-label>
      </ion-item>

      <h3>My Styles</h3>
 
      <ion-row *ngFor="let i of items">
        <ion-list *ngFor="let t of time" class="time">
          <ion-col>
          </ion-col>
        </ion-list>
      </ion-row>
      
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

      <h3>Popular Styles</h3>
 
      <ion-row *ngFor="let i of items">
        <ion-list *ngFor="let t of time" class="time">
          <ion-col>
          </ion-col>
        </ion-list>
      </ion-row>
      
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
     
</ion-content>
