<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<ion-header>
    <ion-toolbar>
  
      <ion-icon name="menu" slot = "start" size = large ></ion-icon>
  
      <ion-title>
        Machina Artem
      </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content fullscreen class = "background-image">
    <ion-item class = "transparent">
        <ion-thumbnail slot="start">
          
            <img  alt = "" src={{avatar}}>
          
        </ion-thumbnail>

      <div class = "info">

        
        Username: <ion-item class = "textfield"><ion-input placeholder = "username" value= {{username}} (ionBlur)="onUsernameBlur($event)" disabled = {{isDisabled}}></ion-input></ion-item>
  
        
        Email: <ion-item class = "textfield"><ion-input placeholder = "email" value= {{email}} (ionBlur)="onEmailBlur($event)" disabled = {{isDisabled}}></ion-input></ion-item>

    <ion-button (click) = "isInEditing()" disabled = {{cannotEdit}}><ion-icon name="create" slot = "start" size = large  ></ion-icon> <ion-label>Edit Profile</ion-label></ion-button>

    <ion-button (click) = "switchBack()" disabled = {{cannotUpdate}}><ion-icon name="checkmark" slot = "start" size = large ></ion-icon> <ion-label>Confirm</ion-label></ion-button>

      </div>

    </ion-item>

    <ion-button color="danger" shape="full" expand= "block" (click) = "logout()"  disabled = {{cannotEdit}}>Log Out</ion-button>

    <ion-button color="danger" shape="full" expand= "block" (click) = "logout()"  disabled = {{cannotEdit}}>Browse For Popular Styles</ion-button>

    <ion-button color="danger" shape="full" expand= "block" (click) = "logout()"  disabled = {{cannotEdit}}>Browse Your Styles</ion-button>



     
</ion-content>
